/* Hide the default checkbox */
.cs-checkbox {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    .checkbox-label {
        display: inline-block;
        position: relative;
        vertical-align: middle;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;

        span {
            padding-left: 28px;
            font-size: 16px;
        }

        &::before {
            width: 20px;
            /* Size of the custom checkbox */
            height: 20px;
            border: 2px solid #ccc;
            border-radius: 4px;
            /* Rounded corners */
            background-color: white;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
        }

        &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: 4px;
            width: 12px;
            height: 7px;
            border: solid #ffffff;
            border-width: 0 0px 3px 3px;
            transform: rotate(316deg);
            opacity: 0;
        }
    }

    .checkbox-input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked+.checkbox-label:before {
            background-color: #007bff;
            border-color: #007bff;
        }

        &:checked+.checkbox-label::after {
            opacity: 1;
        }
    }
}
.pagination{
    display: flex;
    justify-content: right;
    align-items: center;
    button{
        border: 1px solid #efefef;
        border-radius: 4px;
        padding: 10px;
        background: #fafafa;
        width: 40px;
        height: 40px;
        margin: 0 3px;
        font-size: 14px;
        font-weight: bold;
        &:disabled{
            opacity: 0.5;
        }
        &.active,
        &:hover{
            background: #efefef;
        }
        &.active{
            background: #fc884f;
            color: #fff;
        }
        img{
            width: 7px;
        }
        &.prev{
            img{
                transform: rotate(180deg);
            }
            
        }
    }
}
.slider-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .slider {
        width: 100%;
      }
      
      .price-range-display {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
        font-size: 0.9rem;
        font-weight: bold;
      }
  }
  .no-data{
    min-height: 400px;
    p{
        background: #fafafa;
        border-radius: 4px;
        padding: 40px 10px;
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 400px;
        color: #999;
        font-size: 18px;
    }
  }
  
 
  